@import "./../../../assets/css/mixins.scss";

app-result {
  display: flex;
  flex-wrap: wrap;
}
.angular-tag-cloud,
.app-bar-chart,
.twit-container {
  width: calc(50% - 32px) !important;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
}
.twit-container {
  width: calc(100% - 32px) !important;
}
.twit-header {
  @include listItemHeader();
}
.twit,
.twit-header {
  @include listItem();
  span {
    padding: 0 8px;
  }
  &-text {
    flex-grow: 1;
  }
  &-sentiment {
    white-space: nowrap;
    &.neg {
      color: red;
    }
    &.pos {
      color: green;
    }
    &.neu {
      color: orange;
    }
  }
  small {
    color: black;
    font-size: 10px;
  }
}
.twit:last-child {
  border: none;
}
