:host {
  padding: 32px;
  display: block;
}
li {
  padding: 4px;
}
label {
  display: block;
  margin: 8px 0;
}
.cloud {
  width: 1200px;
  height: 400px;
  position: relative;
  &__text {
    position: absolute;
  }
}
