<h3>Get instant tweets</h3>
<form [formGroup]="searchForm" (ngSubmit)="submit()">

  <label>Key: <input placeholder="key" type="text" formControlName="key" class="form-control"
      [ngClass]="{ 'invalid': submitted && f.key.errors }" />
    <p *ngIf="submitted && f.key.errors" class="invalid-feedback">
      <ng-container *ngIf="f.key.errors.required">Key is required</ng-container>
      <ng-container *ngIf="f.key.errors.minlength">Key must be at least 2 characters</ng-container>
    </p>
  </label>
  <label>How many twets you would like to see? <small>(default 100):</small> <input type="number"
      formControlName="tweetCount" class="form-control"> </label>
  <button type="submit">Get Tweets</button>
</form>

<app-result *ngIf="(result$ | async) as result " [result]="result"></app-result>